body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #383838;
      margin: 0;
      padding: 0;
      color: #383838;
    }

header {
      background-color: #ffffff;
      color: #ffffff;
      text-align: center;
      padding: 20px;
    }

    nav {
      background-color: #383838;
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
    }

    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
    }

    nav ul li a{
      color: rgb(255, 255, 255);
      text-decoration: none;
      padding: 10px 15px;
      display: block;
      border-radius: 5px;
    }

  

.container {
      max-width: 900px;
      margin: 20px auto;
      background: #ffffff;
      padding: 20px;
      border-radius: 8px;
    }

h1, h2 {
      color: #ffffff;
    }

p {
      line-height: 1.6;
    }

img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 10px auto;
      border-radius: 6px;
    }

a {
      color: #000000;
      text-decoration: none;
    }

a:hover {
      text-decoration: underline;
    }

footer {
      text-align: center;
      padding: 10px;
      background-color: #383838;
      color: rgb(255, 255, 255);
      margin-top: 30px;
    }

.section {
      margin-bottom: 30px;
    }

.img-container {
      text-align: center;
    }